@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(27, 24, 27);
    /* background-image: url(/PIANO-NA/AUDIO-L/DO#.mp3); */
}

p {
    font-family: 'Archivo Black', sans-serif;
    font-size: 13px;
    padding: 5px;

}

.frame {
    background-color: rgb(207, 194, 132);
    box-shadow: 0px 0px 50px 2px rgb(207, 194, 132);
    margin: 250px auto;
    width: 700px;
    height: 400px;
    border: 2px solid rgb(197, 182, 123);
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: end;
}

.places-keys {
    background-color: rgb(0, 0, 0);
    margin: 30px auto;
    border: 15px solid rgb(27, 24, 27);
    box-shadow: 0px 0px 30px 2px rgb(31, 31, 31);
    border-radius: 25px;
    border-bottom: none;
    width: 600px;
    height: 255px;
    display: flex;
    justify-content: center;
    
}


.key {
    border-radius: 0 0 5px 5px;
    box-shadow: inset -2px -2px 5px black;
    border: 1px solid rgb(150, 150, 150);
    cursor: pointer;
    text-align: center;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items:self-end;
    font-family: 'Archivo Black', sans-serif;

}

.white {
    background-color: white;
    box-shadow: 0px 0px 50px 2px rgb(255, 255, 255);
    color: rgba(66, 66, 66, 0.753);
}

.black {
    background-color: black;
    color: rgb(197, 197, 197);
    height: 60%;
    margin-left: -35px;
    margin-right: -35px;
    width: 60px;
    z-index: 2;
}

.box-plugins {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 35px;
    gap: 10px;
}

.velocity {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0px 0px 10px 1px red;
    cursor: pointer;
} 

.reverb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(140, 140, 232);
    box-shadow: 0px 0px 10px 1px blue;
    cursor: pointer;
} 